table {
  border-collapse: collapse;
  width: 100%;
}

/* границы ячеек первого ряда таблицы */
th {
  width: auto;
  text-align: center;
  padding: 10px 15px;
  /* width: 30%; */
  border: 1px solid #C4C4C4;
  border-width: 1px 1px 1px 0px;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

caption {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 10px;
}

tr {
  width: 100%;
}

/* границы ячеек тела таблицы */
td {
  width: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  padding: 10px 15px;
  /* width: 70%; */
  border: 1px solid #C4C4C4;
  border-width: 1px 1px 1px 0px;
}

.last-child {
  border-width: 1px 0px 1px 1px;
}

.plan {
  border-radius: 20px;
  padding: 7px 0px 20px 0px;
  margin-bottom: 6px;
  margin-left: 2%;
  width: 96%;
  height: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* overflow: auto; */
}

.warning {
  font-weight: 100;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  padding-left: 30px;
}

.semester {
  text-decoration: none;
  padding: 2px;
}

.semesters {
  display: flex;
  flex-direction: row;
}

.semesters_title {
  display: flex;
  margin-left: 3%;
  padding-top: 12px;
  padding-right: 10px;
}

.main-info {
  margin-bottom: 15px;
}