.questioning-last-child {
  border-width: 1px 0px 1px 1px;
}

.questioning-padding {
  height: 20px;
}

.questioning {
  padding: 20px 30px 20px 298px;
  min-width: 602px;
}

.questioning-info {
  overflow: auto;
  height: auto;
  display: block;
  border-radius: 20px;
  padding: 10px 0px;
  margin-bottom: 6px;
  margin-left: 2%;
  width: 96%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width:900px) {
  .questioning {
    min-width: 600px;
    padding: 0px 30px 20px 30px;
  }
}

@media (max-width:600px) {
  .questioning {
    padding: 0px 10px 20px 10px;
    min-width: 300px;
  }
}
